*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.heder{
    border: 2px solid rgb(213, 216, 10);
    width: 22%;
    padding: 30px;
    line-height: 30px;
    margin: 30px auto;
    border-radius: 20px;
}
h2{
    text-align: center;
}

#list{
    display: flex;
    flex-wrap: wrap;
}